# Task 3.6

## In this task you will find merging of prods_clean dataframe with the orders_products_combined dataframe

### Importing libraries and datasets

In [1]:
# Import libraries 
import pandas as pd
import numpy as np
import os

In [2]:
# Define a path to file
path = r"D:\Data Immersion - Careerfoundry\Python Fundamentals for Data Analysts\Instacart Basket Analysis"

In [3]:
# Import clean products dataframe
df_prods_clean = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_check.csv'))

In [4]:
# Import order_products_combined dataframe
df_ords_prods_com = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pk1'))

### 4) Check the shape of imported dataframe

In [5]:
# Import shape of df_ords_prods_com
df_ords_prods_com.shape

(32434489, 12)

The shape is the same as in the prior notebook

### 5)

In [6]:
# Determine solumns in the combined dataframe
df_ords_prods_com.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 12 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   order_id                int64
 2   user_id                 int64
 3   eval_set                object
 4   order_number            int64
 5   order_dow               int64
 6   order_hour_of_day       int64
 7   days_since_prior_order  float64
 8   product_id              int64
 9   add_to_cart_order       int64
 10  reordered               int64
 11  _merge                  category
dtypes: category(1), float64(1), int64(9), object(1)
memory usage: 2.9+ GB

In [7]:
# Determine columns in the products dataframe
df_prods_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     49672 non-null  int64
 1   product_id     49672 non-null  int64
 2   product_name   49672 non-null  object
 3   aisle_id       49672 non-null  int64
 4   department_id  49672 non-null  int64
 5   prices         49672 non-null  float64
dtypes: float64(1), int64(4), object(1)
memory usage: 2.3+ MB

Since both data sets share the product_id column, I will merge the data sets on the column

In [5]:
# Merge the products dataframe with combined dataframe
df_complete_merge = df_prods_clean.merge(df_ords_prods_com, on = 'product_id')

### 6) Confirm the results of the merge using the merge flag

In [9]:
# Use .head() function to check the merge
df_complete_merge.head()

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0_y,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,1987,3139998,138,prior,28,6,11,3.0,5,0,both
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,1989,1977647,138,prior,30,6,17,20.0,1,1,both
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,11433,389851,709,prior,2,0,21,6.0,20,0,both
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,12198,652770,764,prior,1,3,13,7.0,10,0,both
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,12200,1813452,764,prior,3,4,17,9.0,11,1,both

In [10]:
# Do a value counts of the merge
df_complete_merge['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [6]:
# Get shape of merged dataframe
df_complete_merge.shape

(32404859, 17)

### 7) Export the newly formed dataframe into a suitable format

In [15]:
# Export data to pkl format (due to the large data set)
df_complete_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined_complete.pkl'))